/* ****** HEADER ****** */
.header {
    height: 100px;
}
.logo {
    width: 400px;
    height: 250;
    position: absolute;
    top: -60px;
}
.mail {
    position: absolute;
    right: 2%;
    top: 45px;
}
.mailStyle {
    color: rgb(32, 117, 156);
    font-size: 30px;
}
/* ****** BODY ****** */
.text {
    padding-top: 30px;
}
.indent {
    text-indent: 30px;
    padding-right: 30px;
}
.glance {
    display: inline-block;
    width: 552px;
}
.glanceTable {
    vertical-align: top;
    padding-top: 30px;
}
.firstTable {
    padding-right: 30px;
}
a {
    color: rgb(32, 117, 156);
}
.error {
text-align: center;
color: rgb(32, 117, 156);
}
/* ****** READ MORE ****** */
#more {display: none;}
/* ****** FILTERS ****** */
.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    padding-top: 10px;
    align-items: stretch;
}
.party {
    display: flex;
    flex-direction: row;
}
.allValue {
    padding-right: 10px;
    padding-left: 10px;
}
.loader {
    position: fixed;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(32, 117, 156);
    top: 50%;
    left: 45%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
 